*{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    transition: flex 500ms ease-in-out,
                width 500ms ease-in-out,
                opacity 500ms ease-in-out;
}

@keyframes bg {
    0%{background-position: 0% 0%;}
    50%{background-position: 100% 100%;}   
    100%{background-position: 0% 0%;}   
}

body{
    background: linear-gradient(-45deg, rgb(26, 26, 26), rgb(21, 21, 21));
    background-size: 200%, 300%;
    animation: bg 10000ms ease-in-out infinite;
    margin: 0;
    color: white;
}

main{
    display: flex;
    width: 100svw;
    height: 100svh;
}

@media (max-width: 1024px){
    main{
        flex-direction: column;
    }
}

